* {
    font-family: 'Mukta', sans-serif;
}


#wrapper {
    display: grid;
    grid-template-areas:
    "nv"
    "mn"
    "ft"
    ;
    height: 100vh;
    grid-template-rows: 3em auto 3em;
}

body {
    margin: 0px;
    background-color: rgb(39, 39, 39);
}

nav {
    display: flex;
    grid-area: nv;
    background-color: rgb(39, 39, 39);
    justify-content: center;
    border-bottom: #5E8C6A 4px solid;
    -webkit-box-shadow: 0px 5px 25px 8px rgba(0,0,0,0.78); 
    box-shadow: 0px 5px 25px 8px rgba(0,0,0,0.78);
}


ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
    flex-direction: row;
    justify-content: space-evenly;
    text-transform: uppercase;
    
}

li {
    display: flex;
    flex-wrap: nowrap;
    padding-left: 7.6vw;
    padding-right: 7.6vw;
    padding-top: 0.6em;
    color: white;
    white-space: nowrap;
}

li:hover {
    background-color: rgb(56, 56, 56);
    color: white;
}


main {
    grid-area: mn;
}

footer {
    grid-area: ft;
    background-color: rgb(39, 39, 39);
    justify-content: center;
    border-top: #5E8C6A 4px solid;
}