* {
    font-family: 'Mukta', sans-serif;
}


#wrapper {
    display: grid;
    grid-template-areas:
    "nv"
    "mn"
    "ft"
    ;
    height: 100vh;
    grid-template-rows: 3em auto 3em;
}

#wrapper2 {
    display: grid;
    grid-template-areas: 
    "nv"
    "m2"
    "ft"
    ;
    grid-template-rows: 3em auto 3em;
    height: 100vh;
}

body {
    margin: 0px;
    background-color: rgb(243, 243, 243);
}

nav {
    display: flex;
    grid-area: nv;
    background-color: rgb(223, 223, 223);
    justify-content: center;
    border-bottom: #5E8C6A 4px solid;
    -webkit-box-shadow: 0px 5px 25px 8px rgba(0,0,0,0.78); 
    box-shadow: 0px 5px 25px 8px rgba(0,0,0,0.25);
    position: fixed;
    top: 0;
    width: 100%;
}


ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
    flex-direction: row;
    justify-content: space-evenly;
    text-transform: uppercase;
    
}

li {
    display: flex;
    flex-wrap: nowrap;
    padding-left: 7.7vw;
    padding-right: 7.7vw;
    padding-top: 0.6em;
    color: rgb(0, 0, 0);
    white-space: nowrap;
}

li:hover {
    background-color: rgb(247, 247, 247);
}


footer {
    grid-area: ft;
    background-color: rgb(223, 223, 223);
    text-align: center;
    padding-top: 0.6em;
    border-top: #5E8C6A 4px solid;
}

#logo {
    height: 2em;
    margin: 0em;
}

#new {
    background-image: url("../img/BurgerNew.jpg");
    background-size: cover;
    grid-area: im;
    color: white;
}

#nyhetinfo {
    grid-area: tx;
}

h1 {
    padding: 0em;
    margin: 0em;
    white-space: normal;
    padding-left: 1em;
}

h2 {
    margin: 0em;
}

#main {
    display: grid;
    grid-area: mn;
    grid-template-areas:
    "im im"
    "in in"
    ;
    grid-template-columns: 50% 50%;
}

#main2 {
    grid-area: m2;
    display: grid;
    grid-template-areas: 
    "sc1 sc3"
    ;
}

#article1 {
    grid-area: in;
    background-color: rgb(223, 223, 223);
}

p {
    display: flex;
    justify-content: center;
    font-size: 2em;
}

.pmeny {
    font-size: 1em;
    margin-left: 23em;
    margin-right: 23em;
    
}

.pos {
    font-size: 1em;
    margin-left: 6em;
    margin-right: 6em;
    display: flex;
    justify-content: flex-end;
}

a {
    text-decoration: none;
    color: black;
}

#sc1 {
    text-align: center;
    grid-area: sc1;
}

#sc3 {
    grid-area: sc3;
}

h3 {
    margin-top: 1em;
}

#title {
    margin-top: 1em;
    text-transform: uppercase;
}

hr {
    width: 10%;
}


